@import '../UI/Card.scss';

.post_small{
    width: 32rem;
    height: 30rem;
}

.post_big{
    width: 100%;
    height: 40rem;
}


  @media all and (max-width: 768px) {
  }
  
  /* Small screens */
  @media all and (max-width: 576px) {    
    .post_big{
        height: 30rem;
    }
  }