/* Navigation */

.container_nav{
  min-height: 100vh;
  background-color: #2152BB;
  overflow-y: hidden;
}

nav{
  display: flex;
  height: 50px;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #FFFFFF;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
}

nav .logo{
  font-size: 24px;
  text-decoration: none;
}

.nav-white{
  color: black;
}

.nav-blue{
  color: #2152BB;
}

/* Hamburger Menu Style */

.menu-toggle{
  display: none;
  flex-flow: column wrap;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
}

.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #2152BB;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
/* nth-child menu-toggle span
  <input type="checkbox"/> 1. event tho it's not span but it's counted 1
  <span></span> 2
  <span></span> 3
  <span></span> 4 */
.menu-toggle span:nth-child(2){
  transform-origin: 0 0;
}
/* When the check button is checked find the 2nd span sibling inside menu toggle */
.menu-toggle input:checked ~ span:nth-child(2) {
  /* Default x from rotate(val) only is in the middle that's why we need transform origin x 0 y 0 */
  transform: rotate(45deg) translate(-1px,-1px);
}

.menu-toggle span:last-child{
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:last-child {
  /* Default x from rotate(val) only is in the middle that's why we need transform origin x 0 y 0 */
  transform: rotate(-45deg) translate(-1px,0px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  /* Default x from rotate(val) only is in the middle that's why we need transform origin x 0 y 0 */
  transform: scale(0);
}


/* Responsiveness */

/* Medium Screen */
@media all and (max-width: 768px) {
  nav ul{
    width: 50%;
  }
}

/* Small screens */
@media all and (max-width: 576px) {
  nav ul{
    display: none;
    /* position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    flex-flow: column wrap;
    background-color: #2152BB;
    overflow-y:hidden;
    z-index: -1; */
  }

  .menu-toggle{
    display: flex;
  }

}